.character-photo {
    width: 128px;
    height: auto;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border: 1px solid black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.character-name {
    font-size: 1.25rem;
}
